
@turquoise:     #1abc9c;
@green-sea:     #16a085;

@emerland:      #2ecc71;
@nephritis:     #27ae60;

@peter-river:   #3498db;
@belize-hole:   #2980b9;

@amethyst:      #9b59b6;
@wisteria:      #8e44ad;

@wet-asphalt:   #34495e;
@midnight-blue: #2c3e50;

@sun-flower:    #f1c40f;
@orange:        #f39c12;

@carrot:        #e67e22;
@pumpkin:       #d35400;

@alizarin:      #e74c3c;
@pomegranate:   #c0392b;

@clouds:        #ecf0f1;
@silver:        #bdc3c7;

@concrete:      #95a5a6;
@asbestos:      #7f8c8d;


@brand-color: @turquoise;

a{
  cursor:pointer;
}

a:hover{
  text-decoration:none;
}

ul{
  list-style:none;
  margin:0;
}

form{
  margin:0;
}

body{
  height:100%;
  background:@clouds;
}

.clear{
  clear:both;
}

.btn{
  border:none;
}

.btn-success{
  background:@green-sea;
}
.btn-success:hover{
  background:@turquoise;
}

.whitebox:before, .shadowborder:before {
  -webkit-box-shadow: 0 1px 3px 3px rgba(0,0,0,0.33);
  -moz-box-shadow: 0 1px 3px 3px rgba(0,0,0,0.33);
  box-shadow: 0 1px 3px 3px rgba(0,0,0,0.33);
  bottom: 3px;
  content: '';
  left: 3px;
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: -1;
}

.whitebox,.shadowborder{
  position:relative;
}

.whitebox{
  background:white;
  padding:20px;
  margin-bottom:20px;
}


.main-background{
  margin-top:-20px;
  padding-top:20px;
  padding-bottom:60px;
  min-height:600px;
}

.navbar-inner{
  background:white;
  border:none;
  box-shadow: 0 0px 1px 1px rgba(0,0,0,0.33);
  .brand{
    text-shadow:none;
    color:@brand-color;;
    font-weight:bolder;
    font-size:34px;
  }
}

/*
.navbar .nav > li > a{
  color:white;
  text-shadow:none;
}
*/

#footer{
  border-top: solid 3px @brand-color;
  background:white;

  .footer-inner{
    padding-top:30px;
    padding-bottom:30px;
  }
}

#loading{
  padding-top:100px;
  text-align:center;
}

.name{
  font-weight:bold;
}

#friend-signed-out-message{
  text-align:center;
  font-size:30px;
  color: @concrete;
  padding:30px;
  margin:10px 0px;
  background:white;

  .username{
    font-size:20px;
    color:@silver;
  }
}

#onboarding{
  background-image:url('/old_office.jpg');
  background-position:center;
  background-repeat:no-repeat;
  height:459px;

  .help-inline{
    color:white;
  }

  a{
    color:white;
    text-shadow:0px 1px 10px rgba(0,0,0,1);
  }

  a:hover{
    color:@clouds;
  }

  .blurb{
    color:white;
    font-size:36px;
    line-height:60px;
    text-shadow: 0px 1px 20px rgba(0,0,0,1);
    margin-top:60px;
  }
}

#onboarding-inner{
  padding-top:100px;
}

#signup, #login{
  input[type="text"], input[type="email"], input[type="password"]{
    background:rgba(0,0,0, 0.5);
    color:white;
    border:none;
    width:274px;
    margin-bottom:7px;
    padding:8px 10px;
  }
}

#signup input[type="submit"],
#login input[type="submit"]{
  display:block;
}
#login input{
  display:block;
}

form#signup{
  .help-inline{
    width:200px;
  }
}

#mystatus-area{
  /*background:white;*/
   box-shadow:0 0 3px rgba(0,0,0,.5);

  .header{
    background:@green-sea;
    color:white;
    font-size:20px;
    margin-left:-20px;
    padding:10px;
    padding-left:30px;
  }

  .prompt{
    font-size:30px;
    margin-top:20px;
  }

  .textarea-outer{
    padding:5px 20px 5px 5px;
  }

  #edit-status{
    resize:none;
    width:100%;
    height:50px;
  }

  .controls{
    padding: 0px 20px;
    text-align:right;
  }

  .friendstatus{
    /*box-shadow:0 0 3px rgba(0,0,0,.5);*/
    padding-top:30px;
  }

}

@media (max-width: 767px) {
  #mystatus-area .header{
    margin-left:0;
  }
}

@media (min-width: 1200px){
  #mystatus-area .header{
    margin-left:-30px;
  }
}

.chat-area{
  background:white;
  padding:10px;
  .from{
    font-weight:bold;
  }
  .messages{
    max-height:200px;
    overflow-y:auto;
    padding-right:2px;
    margin-bottom:5px;
  }
  .messages::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  .messages::-webkit-scrollbar-track-piece {
      background-color: #ffffff;
  }

  .messages::-webkit-scrollbar-thumb:vertical {
      height: 2px;
      background-color: @silver;
  }

  .messages::-webkit-scrollbar-thumb:horizontal {
      width: 2px;
      background-color: @silver;
  }

  .help{
    display:inline-block;
    padding:3px;
    color:@silver;
  }

  .new-message input{
    margin-bottom:0;
    border-color:white;
  }

}

.friendstatus:hover .new-message input{
  border-color:@silver;
}

.friendstatus:hover .new-message input:focus{
  border-color:@peter-river;
}
.chatbox:hover .new-message input{
  border-color:@silver;
}

.chatbox:hover .new-message input:focus{
  border-color:@peter-river;
}

.chat-area input:focus{
  border-color:@peter-river;
}

.chatbox{
  width:250px;
  float:left;
  margin:14px 15px 14px 0px;
  /*box-shadow:0 0 3px rgba(0,0,0,.5);*/
}


ul#friendstatus-area{
  margin-left:0px;
  padding:0;
  list-style-type: none;
}

#friendstatus-area{
  width:100%;
  position:relative;
}

.friendstatus{
  position:relative;
  width:270px;
  background:white;
  margin:14px 15px 14px 0px;
  float:left;

  .name-time{
    position:relative;
    display:block;
    border-bottom:solid 1px rgba(0,0,0,0.1);
    padding:20px;
  }

  .username{
    font-size:12px;
    color:#999;
  }

  .time{
    display:block;
    position:absolute;
    top:5px;
    right:5px;
    color:@concrete;
    font-size:10px;
  }

  .status{
    display:block;
    padding:10px 20px 10px 20px;
    img{
      //max-height:150px;
    }
  }

  .statusprompt{
    color:@silver;
    font-size:16;
  }

  .status-time{
    padding-bottom:10px;
  }
}

#fr-dropdown{
  width:250px;
  padding:0px;
}

.frcount{
  display:inline-block;
  text-align:center;
  background:@carrot;
  color:@clouds;
  padding:0px 3px;
  min-width:14px;
  border-radius:14px;
}

.friend-request:hover{
  background:#eee;
}

.friend-request{
  /*width:200px;*/
  padding:10px;

  .name{
    font-weight:bold;
  }
  .username{
    font-size:10px;
    color:#aaa;
  }
  .approve-reject{
    float:right;
    font-size:20px;
    height:20px;
    margin-top:8px;
  }
  #approve,#reject{
    display:inline-block;
    width:40px;
    text-align:center;
    float:left;
    margin-left:3px;
    border:solid 1px rgba(0,0,0,0.1);
  }
  #approve{
    background:@emerland;
    i{
      color:white;
    }
  }
  #reject{
    background:@alizarin;
    i{
      color:white;
    }
  }
  .followback{
    padding-top:10px;
    label{
      font-size:12px;
      margin:0;
    }
    input{
      margin-top:-2px;
    }
  }
}

//Settings

#settings-modal{
  .username{
    padding:10px;
    width:200px;
  }
  #colorpicker-area{
    padding:10px;
    border:solid 1px rgba(0,0,0,.1);
    float:right;
    margin-right:30px;
    width:180px;

    .color{
      cursor:pointer;
      display:inline-block;
      width:20px;
      height:20px;
      padding:1px;
    }

    .color:hover{
      box-shadow:0 0 1px 1px rgba(0,0,0,.3);
    }
  }
}

#sharing-area{
  padding-top:20px;
  padding-bottom:20px;
  color:white;

  .sharing-header{
    font-size:24px;
    padding:10px;
  }
  #sendlist{
    background:@belize-hole;

    .sharing-header{
      background:@peter-river;
    }

    .shareitem{
      border-top:solid 1px @belize-hole;
      border-bottom:solid 1px @belize-hole;
    }

    .shareitem:hover{
      background:@peter-river;
    }
  }
  #receivelist{
    background:@nephritis;

    .sharing-header{
      background:@emerland;
    }

    .shareitem{
      border-top:solid 1px @nephritis;
      border-bottom:solid 1px @nephritis;
    }

    .shareitem:hover{
      background:@emerland;
    }
  }
}

.shareitem{
  line-height:30px;
  padding:15px;
  .name{
    font-weight:bold;
    font-size:14px;
  }
  .username{
    font-size:12px;
    color: @silver;
  }

}


/*ul.shareitems > li:last-child{
  border-bottom:solid 1px @silver;
}*/
  

#user-area{
  height:300px;
  background:white;

  .title{
    background:@turquoise;
    font-size:20px;
    line-height:30px;
    padding-left:20px;
    color:@clouds;
  }

  .alert{
    margin-top:20px;
    margin-bottom:-20px;
  }

  .message{
    text-align:center;
    font-size:30px;
    line-height:36px;
    .username{
      font-size:20px;
      color:@silver;
    }
    margin-top:30px;
    padding:20px;
    overflow-x:hidden;
    word-wrap:break-word;
  }

  .buttons{
    text-align:center;
  }
  .checkbox{
    text-align:left;
    width:215px;
    margin:auto;
    text-align:center;
  }
}

#user-help{
  background:white;
  padding:30px;
  margin-top:30px;

  .help-header{
    color:@silver;
    line-height:35px;
    font-size:30px;
  }
  .help-text{
    font-size:20px;
    margin-left:20px;
  }
  p{
    margin-top:20px;
  }
}

#friend-link{
  background:white;
  text-align:center;
  margin-top:40px;
  padding:20px;
  font-weight:bold;
  color:@silver;
}
